<div class="main-content">
  <div>
    <img class="us-img" src="/assets/images/about-us.jpg" alt="us">

  </div>
  <div class="txt-cont">
    <div class="about-us-title">О нас</div>
    <div class="platform-txt">Наша онлайн-платформа разработана с учетом потребностей клиентов и обеспечивает легкий и интуитивно понятный процесс заказа. Клиенты могут легко найти необходимые продукты, добавить их в корзину и оформить заказ всего за несколько минут. </div>
    <div class="technology-txt">FoodEra постоянно следит за новыми технологиями и инновациями в сфере онлайн-торговли и стремится внедрять их в свою работу. Мы постоянно совершенствуем нашу платформу и сервисы, чтобы предоставлять клиентам лучший опыт покупок.</div>
    <div class="join-us-txt">Присоединяйтесь к FoodEra и упростите свою жизнь с нами!</div>
  </div>
</div>

