.container{
  position:relative;
  margin-bottom: 0.5rem;
  border-radius: 0.7rem;
  padding-top: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

label{
  display: inline-block;
  margin-left: 0.8rem;
  font-size: 0.9rem;
  color: #5f5f5f;
  font-size: 1rem;
  margin-top: .2rem;
}

.content{
  padding: 0 0.8rem;
  height: 2.7rem;
  display: flex;
  align-items: center;
}
